body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  list-style: none;
  color: linear-gradient(90deg,#f7f7fa,#f0f4fa 34.38%,#f7ebf4);
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 6;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(25, 25, 46);
  color: red;
}

 
/* .card-content{
  flex-grow: 1;
} */

@media (min-width:767px) {
  .cart {
    top: 3rem;
    bottom: unset;
  }
}

.basket {
  width: 30rem;
  max-width: 95%;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(76, 76, 196);
  z-index: 999;
  padding: 0;

  animation: show 500ms ease-in-out;
}


.collection-item {
  text-align: center;
  margin: 0;
  padding: 10px;
  background-color: #61dafb;
}

.basket li {
  text-align: left;
  padding: 5px;
  border: 1px solid black;
  font-size: 14px;
}

.basket-close {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #fff;
}

.basket-delete {
  cursor: pointer;
}



.basket-item span {
  margin: 0 10px;
  cursor: pointer;
  font-size: 20px;
}

@keyframes show {
  from {
    top: 70%;
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}


.basket-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  background: linear-gradient(90deg,#f7f7fa,#f0f4fa 34.38%,#f7ebf4);
  border-radius: 24px;
  padding: 14px 24px 19px;
  width:600px;
}

.item-image {
  width: 200px;
  height: 20 0px;
  margin-right: 10px;
}

.item-details {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.item-name {
  font-weight: bold;
}

.item-price {
  color: green;
}


.basket-total{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(90deg,#f7f7fa,#f0f4fa 34.38%,#f7ebf4);
  border-radius: 24px;
  padding: 14px 24px 19px;
  width: 400px;
  margin: 0 auto;
}
.basket-total__price {
 
  font-size: 26px;
}
.basket-total__items{
  font-size: 18px;
}

 

.header-active {
  color: red;
}
 



.header-link {
  color: rgb(128, 0, 111);
  list-style: none;
}



.header-link.active {
  color: green;
}
  

.header-menu{
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #007bff;
  border: 2px solid #007bff;
}